# Dépendances
node_modules/

# Variables d'environnement locales (ne pas versionner les secrets)
.env

# Fichiers de construction
frontend/build/

# Volumes Docker
donnees_postgres/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
